header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #333;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left {
  display: flex;
  align-items: center;
}

.left img {
  height: 50px;
  margin-right: 10px;
}

.right button {
  margin-left: 10px;
}